.ant-menu-title-content {
  color: #fff;
  font-size: 18px !important;
}
.ant-menu-item-selected {
  background-color: #6196a6 !important;
}
.ant-menu-item {
  border-bottom: 1px solid gray;
}
.ant-menu-item::active {
  background-color: #6196a6 !important;
}
.ant-menu-submenu-arrow {
  color: #fff;
}
.ant-select-selection-search-input {
  border: 10px solid black;
}
.ant-form-item-label {
  font-weight: bold;
}
.ant-menu-item-icon {
  color: #fff !important;
  width: 30px !important;
  font-size: 20px !important;
}
